/* ▼ This ▼ is for you to easily reference the colors on the Site.css page */
/* Do not uncomment these color variables */

/* CSS color variables */
/*:root {*/ /* Color palette for css */
/*--main-color: #BD1A11;*/ /* Red */
/*--main-color--light: #F04D44;*/ /* Red, a shade lighter */
/*--secondary-color: #D6972A;*/ /* Yellow gold */
/*--light-color: #FFFBFB;*/ /* White */
/*--dark-color: #000000;*/ /* Black */
/*--secondary-color--dark: #9D7C39;*/ /* Dark Gold */
/*--light-blue: rgb(93, 123, 244)*/ /*Light Blue - Added color on top of original*/
/*}*/


/* CREATE / EDIT PAGE STYLING*/

.rental_history-create--title {
    padding: 20px;
    text-align: center;
}

.rental_history-create--form-horizontal {       /*center form on page*/
    padding-left: 20%;
    padding-right: 20%;
}

.rental_history-create--form {                /* form size, color styling*/
    max-width: 600px;
    margin: 20px auto;
    border-radius: 20px;
    background-color: var( --main-color--light );
    padding: 20px;
}

.rental_history-create--label {
    margin-bottom: 100px;
    margin-left: 400px auto;
}


.rental_history-create--name {
    font-size: larger;
}

.rental_history-create--checkbox {
    padding-top: 8px;
    padding-left: 50px;
}

.rental_history-create--damage {
    padding-left: 15px;
}

.rental_history-create--damagesincurred {
      padding-top: 20px;
      font-size: larger;
     
}

.rental_history-create--buttons {
    text-align: center;
    padding-top: 10px;
    padding-left:60px;
}

/* END - CREATE / EDIT PAGE STYLING*/

/* INDEX PAGE STYLING*/

.rental_history-index--border {
    border-color: var( --main-color ) !important;
    border-width: 3px !important;
    border-radius: 20px;
    background-color: white;
}

.rental_history-index--ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.rental_history-index--dropdown-button{
    opacity: 0;
}

tr:hover .rental_history-index--dropdown-button {
    opacity: 1;
}

.rental_history-index--icon {
    margin-right: 100px;
   
}

.rental_history-index--badgedef {
    
    padding:10px !important;
    vertical-align:middle !important;
}

.rental_history-index--badgedef span {
      padding: 10px;
}

.rental_history-index--dropmenu_button {
    
    margin-bottom:5px;
    margin-left: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-color: lightslategrey;
    border-width: 1px;
    background-color: var(--light-color)!important;

}

.rental_history-index--dropmenu_button::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.rental_history-index--sortby {
    padding-right:5px;
    padding-left: 80px;
}

/* END - INDEX PAGE STYLING*/