/* CSS color variables */
:root {
    /* Color palette for css */
    --main-color: #bd1a11; /* Red */
    --main-color--light: #f04d44; /* Red, a shade lighter */
    --secondary-color: #d6972a; /* Yellow gold */
    --secondary-color--dark: #9d7c39; /* Dark Gold */
    --light-color: #fffbfb; /* White */
    --dark-color: #000000; /* Black */


    /* SITE.CSS - sections removed for privacy */
    /*ONLY MY CONTRIBUTED SECTIONS OF THE ABOUT PAGE SHOWN BELOW */
    
    
/* ABOUT PAGE STYLING*/

.home-about--page {
    width: 100vw;
    background: var(--main-color--light);
}

.home-about--title {
    text-decoration: underline 5px solid var(--main-color);
}

.home-about--title_logo_text {
    position: absolute; 
    font-family: Broadway;
    top: 35%;
    left: 45%;

}

.home-about--mission_statement_text {
    position: absolute;
    top: 85%;
    left: 32%;
   
}

.home-about--title_img {
    width: 100vw;
    margin: 0;
    padding: 0px;
    max-width: 100vw;
    border-radius: 0px 0px 0px 75px;
    background: var(--dark-color);
}

.home-about--ensemble {
    padding: 30px;
    border-radius: 0px 75px 0px 0px;
    background: var(--dark-color);
}

.home-about--ensemble_img {
    padding:40px;
    padding-bottom: 20px;
    text-decoration: underline 4px solid var(--light-color);
}

.home-about--ensemble_text {
    
    border-bottom: 5px solid var(--light-color);
    padding-bottom: 35px;
    font-size: large;

}

.home-about--company_history {
    height: 40vw;
    white-space: pre;
    font-size: large;
}

.home-about--company_history_text {
    margin-left: 20%;
    padding: 0px;
    width: 60vw;
}

.home-about--board {
    padding: 20px;
}

/*END ABOUT PAGE STYLING*/   

